<%= form_for([@vendor, @order]) do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_field :origin %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination %>
  </div>

  <div class="field">
    <%= form.label :plan %>
    <%= form.text_field :plan %>
  </div>

  <div class="field">
    <%= form.label :insurance %>
    <%= form.text_field :insurance %>
  </div>

  <% if false %>
  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>
    <% end %>

  <% if false %>
  <div class="field">
    <%= form.label :vendor_id %>
    <%= form.text_field :vendor_id %>
  </div>
    <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<% if false %>
<%= link_to 'Back', vendor_orders_path(@vendor) %>
<% end %>

